<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords"
        content="IEEE RSET Kerala India Kochi Rajagiri School of Engineering and Technology SB Student Branch KHM war Exuro exuro Snag the insignia AURA Link WIE Women in Engineering Power and Energy Society PES SBC IAS RAS Robotics Industrial applications CSIS Best volunteer volunteering Computer Power Factor Powerfactor Blog site website">
    <meta name="description"
        content="Welcome to the official website of The Power Factor, a technical blog of RSET IEEE PES SBC.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/PFmain.css">
    <link rel="icon" href="/images/logos/ieee_favicon.ico" type="image/gif">
    <link rel="apple-touch-icon" href="/images/logos/ieee_apple_favicon_57x57.png">
    <title>The Power Factor: RSET IEEE PES Blog</title>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/pes/pf">The Power Factor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'blogs' ? 'active' : '' %>"><a
                        class="nav-link" href="/pes/pf/blogs">Home</a></li>
            </ul>
            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a
                        class="nav-link" href="/pes/pf/login">Login</a></li>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a
                        class="nav-link" href="/pes/pf/register">Sign Up</a></li>
                <% } else { %>
                <li class="nav-item"><a class="nav-link" href="#">Signed in as <%= currentUser.username %></a></li>
                <li class="nav-item"><a class="nav-link" href="/pes/pf/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <% if(error && (error.length > 0)){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && (success.length > 0)){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>
    <div class="container mainbody">