<%- include ("../partials/sbheader") %>
<section id="navigation_bar">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="navbr">
        <a class="navbar-brand" href="#">
            <img src="https://i.imgur.com/Wwf7yp6.png" class="img-fluid pb-2" alt="IEEE SB RSET">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#office">EXECOM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#societies">SOCIETIES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#events">EVENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li>
            </ul>
            <% if(currentUser && currentUser.isSBAdmin){ %>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Welcome Administrator</a>
                </li>
                <li class="nav-item">
                    <a href="/sblogout" class="nav-link">Logout</a>
                </li>
            </ul>
            <% } %>
        </div>
    </nav>
</section>
<!-- <div data-spy="scroll" data-target="#navbr" data-offset="0" id="mainpagecontent"> -->
<div>
    <h1 class="d-none">IEEE Student Branch, Rajagiri School of Engineering and Technology</h1>
    <section id="home">
        <div id="carouselExampleCaptions" class="carousel slide d-none d-md-flex" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carouselimage one"></div>
                </div>
                <div class="carousel-item">
                    <div class="carouselimage two"></div>
                </div>
                <div class="carousel-item">
                    <div class="carouselimage three"></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="d-md-none carouselrep"></div>
    </section>
    <section class="maincontent px-4 container pt-2 pb-5">
        <section id="about">
            <div class="row my-4 justify-content-lg-between justify-content-center">
                <div class="col-12 col-lg-7 row justify-content-center px-0 order-2 order-lg-1 mt-lg-4">
                    <div class="col-12 mb-md-4">
                        <img src="https://i.imgur.com/QyzTjkn.jpg" alt="IEEE SB RSET" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-lg-5 order-1 order-lg-2 mb-3 mb-lg-0 mt-lg-3 mx-2 mx-md-0">
                    <h2 class="h1 section-header wow animate__animated animate__fadeInUp">
                        ABOUT
                    </h2>
                    <hr>
                    <div class="text-justify wow animate__animated animate__fadeIn" data-wow-delay="500ms">
                        <p>
                            The IEEE Student Branch of Rajagiri School of Engineering and Technology is the
                            product of a combined effort from the qualified faculty members and talented students of
                            RSET. We are a gathering of energetic and innovative individuals from various disciplines of
                            engineering. By joining hands with IEEE we have pledged to make the world a better place,
                            thereby manifesting a fitter path for the ages to come.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="office">
            <section id="office-text px-0">
                <div class="row mt-5 mt-md-4 mx-2 mx-md-0">
                    <div class="justify-content-end">
                        <h2 class="h1 section-header wow animate__animated animate__fadeInUp">
                            OFFICE BEARERS
                        </h2>
                        <hr>
                        <div class="text-justify wow animate__animated animate__fadeIn" data-wow-delay="500ms">
                            <p>
                                The pillar of every successful organization is none other than its executive committee.
                                Called the EXECOM in short, the team behind RSET IEEE SB has been consistently
                                coordinating
                                the efforts of its 300+ members through the year. Given below is a gallery of the core
                                team
                                behind the RSET IEEE SB. A comprehensive list of the EXECOM members over the years can
                                be
                                viewed by clicking 'View All.'
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="Office-Bearers">
                <div class="container-fluid mt-2 mb-5">
                    <div class="execommembers">
                        <div class="row justify-content-center">
                            <div class="col-5 col-md-3 py-3 wow animate__animated animate__zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="500ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="https://i.imgur.com/1nszozX.jpg" class="img-fluid"
                                                        alt="Dr. Elizabeth Rita Samuel">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3 style="min-height: 0px;">Dr. Elizabeth Rita Samuel</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Branch Counsellor</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 py-3 wow animate__animated animate__zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="600ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="https://i.imgur.com/6Lh7epw.png" class="img-fluid"
                                                        alt="Rohit Joseph Mathew">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3 style="min-height: 0px;">Rohith Joseph Mathew</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 py-3 wow animate__animated animate__zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="600ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="https://i.imgur.com/h9Hn2l2.jpg" class="img-fluid"
                                                        alt="Hisham Sherief">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3 style="min-height: 0px;">Hisham Sherief</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Vice-Chair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 py-3 wow animate__animated animate__zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="600ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="https://i.imgur.com/bSHoNDj.jpg" class="img-fluid"
                                                        alt="Arjun Sunil Kumar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3 style="min-height: 0px;">Arjun Sunil Kumar</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Secretary</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-3 py-3 wow animate__animated animate__zoomIn" id="stani">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center wow animated zoomIn"
                                        data-wow-delay="700ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="https://i.imgur.com/St8GEqe.jpg" class="img-fluid"
                                                        alt="Greeshma Stani">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3 style="min-height: 0px;">Greeshma Stani</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Treasurer</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5 col-md-3 py-3 wow animate__animated animate__zoomIn">
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center align-items-center" data-wow-delay="700ms">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="execomimage">
                                                    <img src="https://i.imgur.com/lF0YfoS.jpg" class="img-fluid"
                                                        alt="Diya Denny">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="execomtext">
                                    <div class="row justify-content-center text-center pt-3">
                                        <h3 style="min-height: 0px;">Diya Denny</h3>
                                    </div>
                                    <div class="row justify-content-center text-center">
                                        <h4>Technical Coordinator</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mb-5 pb-2 pb-lg-4">
                            <div class="col-10 col-md-8 col-lg-5">
                                <a href="/execom" class="btn btn-outline-info"
                                    style="width: 100%; font-size: 16px;">View
                                    All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section id="societies" class="px-0">
            <div class="row justify-content-end mx-2 mx-md-0">
                <div class="mx-2 mx-md-0">
                    <div>
                        <h2 class="h1 section-header wow animate__animated animate__fadeInUp">
                            Societies & Affinity Groups
                        </h2>
                        <hr>
                    </div>
                    <div class="text-justify wow animate__animated animate__fadeIn" data-wow-delay="500ms">
                        <p>
                            The IEEE has several societies that offer various benefits to the people who wish to be
                            keep in touch with the latest trends in their field of interest. Currently, there are three
                            Technical Societies and an Affinity Group that are
                            active under our Student Branch:
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" id="societyparts">
                <div
                    class="societydivs wow animate__animated animate__fadeInUp col-12 col-md-6 col-lg-4 row justify-content-center px-4 my-4">
                    <img src="images/logos/wie.png" alt="IEEE WIE Women in Engineering" class="img-fluid mb-3">
                    <div class="colorwrapper p-3">
                        <h4 class="text-center">Women in Engineering</h4>
                        <hr>
                        <p>IEEE WIE is one of the world’s leaders in changing the face of engineering. Its global
                            network connects nearly 20,000 members in over 100 countries to advance women in technology
                            at all points in their life and career. IEEE WIE members make lifelong friendships, acquire
                            influential mentors, and make a difference for the benefit of humanity.</p>
                        <!-- <div class="row justify-content-center my-2">
                            <a href="#" target="_blank" class="btn btn-light">Visit Website</a>
                        </div> -->
                    </div>
                </div>
                <div
                    class="societydivs wow animate__animated animate__fadeInUp col-12 col-md-6 col-lg-4 row justify-content-center px-4 my-4">
                    <img src="images/logos/PESlogo.png" alt="IEEE PES Power & Energy Society" class="img-fluid mb-3">
                    <div class="colorwrapper p-3">
                        <h4 class="text-center">Power & Energy Society</h4>
                        <hr>
                        <p>The Power & Energy Society (PES) provides the world's largest forum for sharing the latest
                            technological developments in the electric power industry. The PES student branch chapter of
                            RSET aims to aid the IEEE in this venture, conducting events in the field of power and
                            energy on topics that are of interest in the global technological scenario.</p>
                        <div class="row justify-content-center my-2">
                            <a href="/pes" target="_blank" class="btn btn-light">Visit Website</a>
                        </div>
                    </div>
                </div>
                <div
                    class="societydivs wow animate__animated animate__fadeInUp col-12 col-md-6 col-lg-4 row justify-content-center align-items-between px-4 my-4">
                    <img src="images/logos/CS.png" alt="IEEE CS Computer Society" class="img-fluid pt-0 pt-md-4 my-4">
                    <div class="colorwrapper p-3 mt-3">
                        <h4 class="text-center">Computer Society</h4>
                        <hr>
                        <p>The IEEE Computer Society is the premier source for information, inspiration, and
                            collaboration in computer science and engineering. The IEEE CS society too aims to provide a
                            platform for those who wish to nourish their career opportunities or gain expertise in the
                            field of Computer Science. </p>
                        <!-- <div class="row justify-content-center my-2">
                            <a href="#" target="_blank" class="btn btn-light">Visit Website</a>
                        </div> -->
                    </div>
                </div>
                <div
                    class="societydivs wow animate__animated animate__fadeInUp col-12 col-md-6 col-lg-4 row justify-content-center px-4 my-4">
                    <img src="images/logos/IAS.png" alt="IEEE IAS Industrial Applications Society"
                        class="img-fluid mb-3">
                    <div class="colorwrapper p-3">
                        <h4 class="text-center">Industrial Applications Society</h4>
                        <hr>
                        <p>The Industry Applications Society is interested in advancement of the theory and practice of
                            electrical and electronic engineering in the development, design, manufacture and various
                            other similar fields. The IEEE IAS SBC of RSET keeps true to its mission, holding activites
                            that align with the perspective of their parent organization.</p>
                        <!-- <div class="row justify-content-center my-2">
                            <a href="#" target="_blank" class="btn btn-light">Visit Website</a>
                        </div> -->
                    </div>
                </div>
                <div
                    class="societydivs wow animate__animated animate__fadeInUp col-12 col-md-6 col-lg-4 row justify-content-center align-items-between px-4 my-4">
                    <img src="images/logos/ras.png" alt="IEEE RAS Robotics & Automation Society"
                        class="img-fluid pt-0 pt-md-4 my-4">
                    <div class="colorwrapper p-3">
                        <h4 class="text-center">Robotics & Automation Society</h4>
                        <hr>
                        <p> The IEEE RAS strives for the advancement of the theory and
                            practice of robotics and automation engineering and science and of the allied arts and
                            sciences, and for the maintenance of high professional standards among its members, all with
                            special attention to the Field of Interest of the Society.</p>
                        <!-- <div class="row justify-content-center my-2">
                            <a href="#" target="_blank" class="btn btn-light">Visit Website</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="booster" class="container-fluid mt-3 stretcher text-white">
        <div class="container bgtext">
            <div class="row w-100 counterh1 py-4 pl-5 pl-md-1">
                <div class="col-12 col-md-4 py-2 pt-md-4 row justify-content-center align-items-center"
                    style="height: 100%;">
                    <h2 class="h1 col-12"><strong>Treading towards a Brighter Future</strong></h2>
                </div>
                <div class="col-12 col-md-8 w-100 row justify-content-between align-items-center mt-4 mt-md-0"
                    id="counter">
                    <div class="row w-100 justify-content-end ml-lg-5 mt-4">
                        <div class="wow animate__animated animate__fadeIn col-12 col-md-4 row justify-content-center parent"
                            data-wow-delay="500ms">
                            <p><span class="countnum"><span class="timer1"></span><span
                                        class="plus">+</span></span><br>Achievements</p>
                        </div>
                        <div class="wow animate__animated animate__fadeIn col-12 col-md-4 row justify-content-center parent"
                            data-wow-delay="700ms">
                            <p><span class="countnum"><span class="timer2"></span><span
                                        class="plus">+</span></span><br>Events</p>
                        </div>
                        <div class="wow animate__animated animate__fadeIn col-12 col-md-4 row justify-content-center parent"
                            data-wow-delay="900ms">
                            <p><span class="countnum"><span class="timer3"></span><span
                                        class="plus">+</span></span><br>Members</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="maincontent px-4 mx-2 py-5">
        <div class="container">
            <section id="achievements" class="px-0">
                <div class="row">
                    <div class="mx-2 mx-md-0">
                        <div>
                            <h2 class="h1 section-header wow animate__animated animate__fadeInUp">
                                Achievements
                            </h2>
                            <hr>
                        </div>
                        <div>
                            <p class="text-justify wow animate__animated animate__fadeIn" data-wow-delay="500ms">
                                The IEEE SB of RSET has proven its worth in several platforms over the years. From state
                                wide competitions to global recognition, our SB has risen to the top through both talent
                                and
                                perseverance. Feel free to browse through the achievements that we have gathered below.
                            </p>
                        </div>
                    </div>
                    <!-- The array for this can be seen in index SB routes under "/" route-->
                    <div class="mt-3 w-100">
                        <h2 class="wow animate__animated animate__fadeInUp bluish"> Student Branch
                            Achievements</h2>
                        <hr>
                    </div>
                    <div class="owl-carousel text-center mt-2">
                        <% SB.forEach(function(sb){ %>
                        <div class="achievement-block mx-1">
                            <img src="<%= sb.link %>" alt="<%= sb.alt %>" class="img-fluid">
                        </div>
                        <% }); %>
                    </div>
                    <div class="mt-3 w-100">
                        <h2 class="wow animate__animated animate__fadeInUp bluish"> Student
                            Achievements</h2>
                        <hr>
                    </div>
                    <div class="owl-carousel text-center mt-2">
                        <% student.forEach(function(student){ %>
                        <div class="achievement-block mx-1">
                            <img src="<%= student.link %>" alt="<%= student.alt %>" class="img-fluid">
                        </div>
                        <% }); %>
                    </div>
                </div>
            </section>
            <section id="gallery" class="px-0">
                <div class="row">
                    <div class="mx-2 mx-md-0">
                        <div>
                            <h2 class="h1 section-header wow animate__animated animate__fadeInUp">
                                Gallery
                            </h2>
                            <hr>
                        </div>
                        <div class="text-justify wow animate__animated animate__fadeIn" data-wow-delay="500ms">
                            <p>
                                Through thousands of events over the years, the members of our Student Branch (SB) have
                                amassed a great number of experiences and fond memories while setting the groundwork for
                                a
                                successful professional life. Have a walk with us down the memory lane, where we
                                hold our dearest and most enriching of memories.
                            </p>
                        </div>
                    </div>
                    <!-- Gallery -->
                    <div class="slideshow-container mt-3 ">
                        <div class="mySlides fade">
                            <div class="imagebox">
                                <img src="https://i.imgur.com/KpCPGEn.png" class="image" style="width:100%"
                                    alt="Talkloop">
                                <div class="middle">
                                    <div class="text">
                                        <h3 id="hovertitle">TalkLoop</h3>
                                        <p id="hovertext">
                                            TalkLoop was an interactive series of talks held by the IEEE SB of RSET,
                                            showcasing
                                            people from various walks of life and how they rose to fame and success.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mySlides fade">
                            <div class="imagebox">
                                <img src="https://i.imgur.com/AcfFEMN.jpg" class="image" style="width:100%"
                                    alt="KMRL Visit">
                                <div class="middle">
                                    <div class="text">
                                        <h3 id="hovertitle">Visit to KMRL</h3>
                                        <p id="hovertext">
                                            The RSET IEEE IAS SBC conducted an industrial visit to the Kochi Metro Rail
                                            Limited,
                                            giving its student members a picture of how an engineer works at the
                                            industrial
                                            level.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mySlides fade">
                            <div class="imagebox">
                                <img src="https://i.imgur.com/zBCCg1y.jpg" class="image" style="width:100%"
                                    alt="TechRev 2020">
                                <div class="middle">
                                    <div class="text">
                                        <h3 id="hovertitle">TechRev 2020</h3>
                                        <p id="hovertext">
                                            TechRev was an electronics based talk session conducted by the PES SBC of
                                            RSET.
                                            It
                                            was led by Mr. Rahul Sivan, CEO of ATWIC R&D.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mySlides fade">
                            <div class="imagebox">
                                <img src="https://i.imgur.com/ipJSqQi.jpg" class="image" style="width:100%"
                                    alt="EV PES Session">
                                <div class="middle">
                                    <div class="text">
                                        <h3 id="hovertitle">Interactive Session on EV's</h3>
                                        <p id="hovertext">
                                            The PES SBC of RSET conducted an interactive session on Electric Vehicles.
                                            For
                                            this,
                                            they
                                            had arranged the arrival of the Hyundai Kona, an EV, to our college.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mySlides fade">
                            <div class="imagebox">
                                <img src="https://i.imgur.com/6c0zcjF.jpg" class="image" style="width:100%"
                                    alt="Prativandh">
                                <div class="middle">
                                    <div class="text">
                                        <h3 id="hovertitle">Prathivaadh</h3>
                                        <p id="hovertext">
                                            This was a debate competition conducted by the WiE affinity group of RSET
                                            IEEE SB. Given here is a photo of the finalists of the competition.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mySlides fade">
                            <div class="imagebox">
                                <img src="https://i.imgur.com/55wWuz7.jpg" class="image" style="width:100%"
                                    alt="IEEE Xtreme Mock Session">
                                <div class="middle">
                                    <div class="text">
                                        <h3 id="hovertitle">IEEE Xtreme Mock Session</h3>
                                        <p id="hovertext">
                                            The RSET IEEE SB conducted a mock Xtreme to help students get an idea of how
                                            it
                                            is
                                            held and what kind of questions to expect.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="prev text-white" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next text-white" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <div class="col-12 row mx-0 px-0 mt-3">
                        <p class="text-muted text-center small d-md-none w-100">
                            Tap image to view details.
                        </p>
                    </div>
                </div>
            </section>
            <section id="events" class="px-0 mt-5">
                <div class="row">
                    <div class="mx-2 mx-md-0">
                        <div>
                            <h2 class="h1 section-header wow animate__animated animate__fadeInUp">
                                Events
                            </h2>
                            <hr>
                        </div>
                        <div class="text-justify wow animate__animated animate__fadeIn" data-wow-delay="500ms">
                            <p>
                                The IEEE SB of RSET conducts a lot of innovative technically oriented events which help
                                student members to shape
                                their engineering career. As the pioneers of a brighter future, we realize that such
                                events
                                play a major role in shaping a future
                                brimming with capable engineers.
                            </p>
                        </div>
                    </div>
                    <div class="row my-3 eventcardholder">
                        <div class="col-12">
                            <h2 class="wow animate__animated animate__fadeInUp"> Upcoming
                                Events</h2>
                            <hr>
                            <div class="row justify-content-around">
                                <% var i=0; %>
                                <% event.forEach(function(event){ %>
                                <% if(event.upcoming) { i++; %>
                                <div
                                    class="col-10 col-md-6 col-lg-4 px-4 my-3 eventcards wow animate__animated animate__fadeIn">
                                    <div class="row justify-content-center">
                                        <a href="/events">
                                            <img src="<%= event.image %>" alt="Poster for <%= event.name %>"
                                                class="mt-3 img-fluid" style="max-height: 400px;">
                                        </a>
                                    </div>
                                    <!-- <div class="row justify-content-center">
                                        <img src="<%= event.image %>" alt="Poster for <%= event.name %>"
                                            class="mt-3 img-fluid" style="max-height: 400px;">
                                    </div>
                                    <h3 class="text-center pt-3"><%= event.name %></h3>
                                    <p class="text-dark text-center lead"><%= event.date %><br><% if(event.time){ %>
                                        <%= event.time %>
                                        <% } %></p>
                                    <hr>
                                    <p>
                                        <%- event.description %>
                                    </p> -->
                                    <div class="row justify-content-center my-3">
                                        <% if(event.reglink){ %>
                                        <a href="<%= event.reglink %>" target="_blank"
                                            class="btn btn-outline-info">Register
                                            Now</a>
                                        <% } %>
                                        <% if(currentUser && currentUser.isSBAdmin){ %>
                                        <div class="col-12 row justify-content-center my-3">
                                            <a href="/<%= event._id %>/edit" class="btn btn-warning mr-4">Edit</a>
                                            <form action="/<%= event._id %>?_method=DELETE" method="POST">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <% } %>
                                <% }); %>
                                <% if(i==0){ %>
                                <p class="text-center text-muted lead my-5"> We're baking up some amazing events for you
                                    soon!
                                    Stay
                                    tuned!</p>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-12 mb-4">
                            <h2 class="wow animate__animated animate__fadeInUp"> Recent
                                Events</h2>
                            <hr>
                            <div class="row justify-content-around">
                                <% event.forEach(function(event){ %>
                                <% if(!(event.upcoming)) {%>
                                <div
                                    class="col-10 col-md-6 col-lg-4 px-4 my-3 eventcards wow animate__animated animate__fadeIn">
                                    <div class="row justify-content-center">
                                        <a href="/events">
                                            <img src="<%= event.image %>" alt="Poster for <%= event.name %>"
                                                class="mt-3 img-fluid" style="max-height: 400px;">
                                        </a>
                                    </div>
                                    <% if(currentUser && currentUser.isSBAdmin){ %>
                                    <div class="row justify-content-center my-3">
                                        <div class="col-12 row justify-content-center my-3">
                                            <a href="/<%= event._id %>/edit" class="btn btn-warning mr-4">Edit</a>
                                            <form action="/<%= event._id %>?_method=DELETE" method="POST">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                                <% } %>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section id="testi" class="px-0">
            <div class="container">
                <h2 class="h1 mx-2 mx-md-0 section-header wow animate__animated animate__fadeInUp">
                    Testimonials
                </h2>
                <hr>
            </div>
            <div class="testimonialsliderxx my-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div id="testimonial-slider" class="owl-carousel row">
                                <div class="testimonial">
                                    <div class="row testmini">
                                        <div class="col-5 row justify-content-end">
                                            <div class="pic">
                                                <img src="https://i.imgur.com/Ra2MPrS.jpg" alt="Er. A Suhair">
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="testimonial-profile" style="top: 25px;">
                                                <h3 class="title">Er. A Suhair</h3>
                                                <span class="post">Chair<br>IEEE PES Kerala Chapter</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="description">
                                        I am happy to endorse that IEEE PES Student Branch of RSET has been quite
                                        active
                                        from its inception and has been organizing quality events and won
                                        recognition. I
                                        hope they will continue to do the good work and will remain the pride of the
                                        IEEE Student community in the years to come. Wishing them all the very best.
                                    </p>
                                </div>
                                <div class="testimonial">
                                    <div class="row testmini">
                                        <div class="col-5 row justify-content-end">
                                            <div class="pic">
                                                <img src="https://i.imgur.com/ioAFtiz.jpg" alt="Shylesh S. Unnithan">
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="testimonial-profile">
                                                <h3 class="title d-none d-md-flex">Shylesh S. Unnithan</h3>
                                                <h3 class="title d-md-none">Shylesh S<br> Unnithan</h3>
                                                <span class="post">Section Student Representative<br>IEEE Kerala
                                                    Section</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="description">
                                        IEEE RSET SB is one of the most vibrant and strong SB's in the Kerala
                                        Section.
                                        Their
                                        determination for the well-being and technical empowerment of their members
                                        is
                                        reflected in their activities. What differentiates RSET from other SB's is
                                        their
                                        competitive spirit and the technical skillset of their members, which is
                                        very
                                        well
                                        reflected in their performances in Inter-SB competitions held inside and
                                        outside
                                        Kerala. The future of the SB looks strong, consistent and it has the
                                        potential
                                        to
                                        nurture many student leaders.
                                    </p>
                                </div>
                                <div class="testimonial">
                                    <div class="row testmini">
                                        <div class="col-5 row justify-content-end">
                                            <div class="pic">
                                                <img src="https://i.imgur.com/OWZH95h.jpg" alt="Dr. Bijuna Kunju K">
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="testimonial-profile">
                                                <h3 class="title d-none d-md-flex">Dr. Bijuna Kunju K</h3>
                                                <h3 class="title d-md-none">Dr. Bijuna<br> Kunju K</h3>
                                                <span class="post">Professor and Head, DEE<br>TKMCE, Kollam</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="description">
                                        It is indeed a very happy feeling to write about the IAS SB Chapter of RSET.
                                        Being the Chair of IA/IE/PELS Joint Chapter Kerala, I had the very rare
                                        opportunity to work together with two volunteers of RSET, Eldho and Nivetha.
                                        I do congratulate the SB Chapter of RSET for moulding these volunteers as the
                                        best volunteers of the Section.
                                        All the best in all your future endevours also. With the SB under the control of
                                        Nivetha, I am sure it will reap success after success.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <section class="botmarg px-0" id="membership">
                <div class="row">
                    <div class="mx-2 mx-md-0">
                        <h2 class="h1 section-header wow animate__animated animate__fadeInUp">
                            Membership Benefits
                        </h2>
                        <hr>
                        <div class="text-justify wow animate__animated animate__fadeIn" data-wow-delay="500ms">
                            <p>
                                IEEE is the largest technical organization worldwide, which is striving towards
                                achieving
                                new
                                and advanced
                                technology for the welfare of the human society. Becoming a member of IEEE opens up a
                                whole
                                new
                                plethora of opportunities, especially for students.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around mt-4">
                    <div class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards order-2 order-lg-1">
                        <div class="imagetop d-none text-center">
                            <img src="images/svgs1/network.svg" alt="Global Networking" class="img-fluid p-3">
                        </div>
                        <div class="cardtext wow animate__animated animate__fadeIn px-1" data-wow-delay="500ms">
                            <h3>Networking</h3>
                            <hr>
                            <p>
                                Discuss new career prospects and other updates in your field of interest by connecting
                                with
                                senior members in the technical industry from around the world.
                            </p>
                        </div>
                    </div>
                    <div
                        class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center align-items-center cards ieeecard bg-transparent order-1 order-lg-2">
                        <div class="imagetop row align-items-center justify-content-center">
                            <img src="images/svgs1/IEEE_vector.svg" alt="IEEE" class="img-fluid pr-3 mb-5 mb-md-0">
                        </div>
                    </div>
                    <div class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards order-3">
                        <div class="imagetop d-none text-center">
                            <img src="images/svgs1/information.svg" alt="Access to Information" class="img-fluid p-3">
                        </div>
                        <div class="cardtext wow animate__animated animate__fadeIn px-1" data-wow-delay="600ms"
                            id="point4">
                            <h3>Access to information</h3>
                            <hr>
                            <p>
                                IEEE members have exclusive access to a vast library of engineering literature.
                                Resources
                                have never been more easy to access.
                            </p>
                        </div>
                    </div>
                    <div
                        class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards mt-lg-5 order-4 d-none disappear3">
                        <div class="imagetop d-none text-center">
                            <img src="images/svgs1/Volunteering.svg" alt="Volunteering" class="img-fluid p-3">
                        </div>
                        <div class="cardtext animate__animated animate__fadeIn px-1">
                            <h3>Volunteering</h3>
                            <hr>
                            <p>
                                Conduct, participate or volunteer in webinars, workshops and even international
                                conferences
                                with the plethora of connections that come with the IEEE brand.
                            </p>
                        </div>
                    </div>
                    <div
                        class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards mt-lg-5 order-5 d-none disappear3">
                        <div class="imagetop d-none text-center">
                            <img src="images/svgs1/discount.svg" alt="Discounts" class="img-fluid p-3">
                        </div>
                        <div class="cardtext animate__animated animate__fadeIn px-1">
                            <h3>Discounts</h3>
                            <hr>
                            <p>
                                Bear minimal expenses at our events! By becoming an IEEE member, you get to access
                                various
                                magazines and webinars at special prices, sometimes even for free.
                            </p>
                        </div>
                    </div>
                    <div
                        class="col-9 col-md-5 col-lg-3 m-2 row justify-content-center cards mt-lg-5 order-6 d-none disappear3">
                        <div class="imagetop d-none text-center">
                            <img src="images/svgs1/tech.svg" alt="Technical Societies" class="img-fluid p-3">
                        </div>
                        <div class="cardtext animate__animated animate__fadeIn px-1">
                            <h3>Technical Societies</h3>
                            <hr>
                            <p>
                                With an IEEE membership, you get the opportunity to learn more about your field of
                                interest
                                by joining any one of the Technical Societies under our banner.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center pt-3 pt-lg-5">
                    <div class="col-9 col-md-8 row justify-content-center pb-3 cardbutton1">
                        <a onclick="expand3()" href="#point4" class="btn btn-outline-info"
                            style="width: 100%; padding: 1vh;">View More</a>
                    </div>
                    <div class="col-9 col-md-8 row justify-content-center pb-3 d-none cardbutton2">
                        <a onclick="expand3()" href="#membership" class="btn btn-outline-info"
                            style="width: 100%; padding: 1vh;">View Less</a>
                    </div>
                    <div class="col-9 col-md-8 row justify-content-center">
                        <a href="https://www.ieee.org/membership/join/index.html" target="_blank"
                            class="btn btn-outline-info" style="width: 100%; padding: 1vh;">Join IEEE</a>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
<%- include ("../partials/sbfooter") %>